# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Compiled
build/Release

# Dependency directory
node_modules

# Optional npm cache directory
.npm

#personal tests
__*
